::-moz-selection {
  color: black;
  background: #ccffff;
  text-shadow: none;
}
::selection {
  color: black;
  background: #ccffff;
  text-shadow: none;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
h2 {
  margin-top: 0;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 13px;
  text-shadow: 0px 0px 5px #C63E30;
  color: #C63E30
}
p {
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 0;
  color: #FFFFFF;
  text-shadow: 0px 0px 4px #FFFFFF;
}
.column {
  float: left;
  width: 40%;
  max-width: 500px;
  text-align: left;
  font-size: 16px;
  padding: 32px;
  margin-left: 40px;
  margin-top: 40px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 10px;
  box-shadow:  0px 0px 3px #FFFFFF;
  color: #ccffff;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
hr {
  height: 0px;
  border-width: 0;
  color: #ffffff;
  background-color: #ffffff;
  width: 80%;
  box-shadow:  0px 0px 5px #ffffff;
}
a {
  color: #ffffff;
  
}
